/**
 * File: reset.css
 * Description:
 *    CSS reset file to remove default browser styles,
 *    ensuring consistent rendering of elements across
 *    different browsers.
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

img,
svg {
  max-width: 100%;
  display: block;
}
